#tab-experiments {

}

#tab-experiments h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#tab-experiments h3 {
    margin-top: 0;
    margin-bottom: 0.3em;
}

#tab-experiments p {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

#tab-experiments ul {
    padding-left: 1em;
    margin-top: 0;
}

#tab-experiments li {
    line-height: 1.3em;
}

#tab-experiments .text {
    color: var(--text-color);
}

#tab-experiments .data-plot {
    margin-bottom: 2em;
    resize: both;
    min-width: 150px;
    min-height: 150px;
    max-width: 100%;
    width: 300px;
    height: 300px;
}

#tab-experiments .extree-table {
    margin-bottom: 2em;
}

@media (max-width: 767px) {
    #tab-experiments .data-plot {
        width: 100%;
    }
}
