#tab-experiments {

}

#tab-experiments h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#tab-experiments ul {
    padding-left: 1em;
}

#tab-experiments .text {
    color: var(--text-color);
}

#tab-experiments .data-plot {
    margin-bottom: 2em;
    resize: both;
    min-width: 150px;
    min-height: 150px;
    max-width: 100%;
}
