.menu-section {
    border-top: 1px solid var(--menu-border-color);
    padding-bottom: 5px;
}

.menu-section summary {
    padding: 5px;
    font-weight: bold;
    font-size: 1.15em;
    cursor: pointer;
}

.menu-section[open] summary {
    background: var(--menu-section-background-color);
}

.menu-block {
    padding: 5px;
    text-align: left;
}

.menu-section .menu-block {
    background: var(--menu-section-background-color);
    margin-left: 10px;
    border-left: 2px solid var(--menu-section-border-color);
    padding: 5px 5px 10px 10px;
}

.menu-block label {
    font-weight: bold;
    display: block;
}

.menu-block svg {
    width: 100%;
    height: 250px;
}

.menu-block .description {
    font-size: 0.75em;
    color: var(--disabled-color);
}

.menu-multiple-block {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
}

.menu-block-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.menu-block-grid label {
    margin-top: 5px;
    font-size: 0.85em;
}

#train-menu, #data-menu, #experiments-menu {
    display: none;
}

.playground:has(#tab-train-input:checked) {
    #train-menu {
        display: block;
    }
}

.playground:has(#tab-data-input:checked) {
    #data-menu {
        display: block;
    }
}

.playground:has(#tab-experiments-input:checked) {
    #experiments-menu {
        display: block;
    }
}
