#tab-train {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 200px;
    grid-template-rows: 300px 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "data model model model"
        "histograms histograms metrics metrics";
}

#tab-train:has(.surface-plot:not(.hidden)) {
    grid-template-columns: 300px 1.4fr 1fr;
    grid-template-rows: 300px 300px 1fr;
    grid-template-areas:
        "data histograms metrics"
        "surface histograms metrics"
        "model model metrics";
}

.data-plot {
    grid-area: data;
}

.surface-plot {
    grid-area: surface;
}

.histograms-plot {
    grid-area: histograms;
}

.model-plot {
    grid-area: model;
}

.metrics-plot {
    grid-area: metrics;
}

@media (min-width: 1380px) {
    #tab-train .metrics-plot {
        grid-auto-flow: column;
    }

    #tab-train .data-plot {
        resize: both;
        width: 320px;
        height: 320px;
        min-width: 220px;
        min-height: 220px;
        max-width: 500px;
        max-height: 500px;
    }

    #tab-train .surface-plot {
        resize: horizontal;
        overflow: hidden;
        min-width: 220px;
        width: 320px;
        max-width: 500px;
        height: 100%;
    }

    #tab-train {
        grid-template-columns: min-content 1fr 2fr 320px;
        grid-template-rows: min-content minmax(500px, 1fr);
        grid-template-areas:
            "data metrics metrics metrics"
            "model model histograms histograms";
    }

    #tab-train:has(.surface-plot:not(.hidden)) {
        grid-template-columns: min-content min-content 1fr 2fr;
        grid-template-rows: min-content minmax(500px, 1fr);
        grid-template-areas:
            "data surface metrics metrics"
            "model model histograms histograms";
    }
}

@media (max-width: 767px) {
    #tab-train .metrics-plot {
        grid-auto-flow: column;
    }

    #tab-train {
        grid-template-columns: 250px 1fr;
        grid-template-rows: 250px minmax(500px, 1fr) 200px;
        grid-template-areas:
            "data model"
            "histograms histograms"
            "metrics metrics";
    }

    #tab-train:has(.surface-plot:not(.hidden)) .metrics-plot {
        grid-auto-flow: row;
    }

    #tab-train:has(.surface-plot:not(.hidden)) {
        grid-template-columns: 250px 1fr;
        grid-template-rows: 250px minmax(300px, 1fr) minmax(500px, 1.5fr);
        grid-template-areas:
            "data surface"
            "model metrics"
            "histograms metrics";
    }
}

@media (max-width: 579px) {
    #tab-train .metrics-plot {
        grid-auto-flow: row;
    }

    #tab-train {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 600px 500px 400px;
        grid-template-areas: "data" "histograms" "metrics" "model";
    }

    #tab-train:has(.surface-plot:not(.hidden)) {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 600px 500px 400px;
        grid-template-areas: "data" "surface" "histograms" "metrics" "model";
    }
}
