.data-table {
    width: 100%;
    border-bottom: 1px solid var(--data-table-border-color);
}

.data-table-labels {
    font-size: 0.9em;
    background: var(--data-table-background-color);
    border-bottom: 1px solid var(--data-table-border-color);
    white-space: nowrap;
}

.data-table-label {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    margin-bottom: -1px;
    color: var(--data-table-label-color);
    transition: color .15s, border-color .15s;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.data-table-label:hover {
    color: var(--data-table-selected-label-color);
}

.data-table-label-selected {
    color: var(--data-table-selected-label-color);
    border-color: var(--data-table-border-color) var(--data-table-border-color) var(--data-table-background-color);
    cursor: default;
}

.data-table-tabs {
    height: 300px;
    min-width: 150px;
    min-height: 150px;
    max-height: 550px;
    resize: vertical;
    overflow: auto;
    border-left: 1px solid var(--data-table-border-color);
    border-right: 1px solid var(--data-table-border-color);
}

.data-table-covs {
    border-top: 1px solid var(--data-table-border-color);
    border-left: 1px solid var(--data-table-border-color);
    border-right: 1px solid var(--data-table-border-color);
    padding: 10px 5px 5px 5px;
    overflow: auto;
}

.data-table-tab {
    display: table;
    font-size: 0.8em;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.data-table-tab-hidden {
    display: none !important;
}

.data-table-tab-header {
    display: table-row;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--data-table-header-background-color);
}

.data-table-tab-statistics {
    display: table-row;
    white-space: nowrap;
}

.data-table-tab-row {
    display: table-row;
}

.data-table-tab-cell {
    display: table-cell;
    text-align: center;
    padding: 2px 8px;
    min-width: 50px;
    vertical-align: middle;
    color: var(--data-table-cell-color);
    border-right: 1px solid var(--data-table-cell-border-color);
    border-bottom: 1px solid var(--data-table-cell-border-color);
    position: relative;
}

.data-table-tab-sort-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    right: 2px;
    top: calc(50% - 0.5em);
}

.data-table-tab-header .data-table-tab-cell {
    font-weight: bold;
    cursor: pointer;
    border-top: none;
}

.data-table-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

.data-table-cov label {
    font-weight: bold;
}

.data-table-cov .covariance-matrix {
    border-collapse: collapse;
    margin-top: 0.5em;
}

.data-table-cov .covariance-matrix-cell {
    border: 1px solid var(--data-table-border-color);
    padding: 5px 10px;
    text-align: center;
    font-size: 0.9em;
}

.data-table-cov .covariance-matrix-row:first-child .covariance-matrix-cell, .data-table-cov .covariance-matrix-cell:first-child {
    font-weight: bold;
    font-size: 0.8em;
    background: var(--data-table-header-background-color);
    white-space: nowrap;
}

.data-table-cov .covariance-matrix-cell:first-child {
    text-align: right;
}

@media (max-width: 579px) {
    .data-table-labels {
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: thin;
    }

    .data-table-tabs {
        scrollbar-width: thin;
    }
}