.data-plot {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.data-plot svg, .data-plot canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.data-plot canvas {
    user-select: none;
    pointer-events: none;
}

.data-plot svg * {
    pointer-events: none;
}

.data-plot span {
    pointer-events: none;
    font-size: 10px;
    background: #ffffff90;
    user-select: none;
    position: absolute;
}

.data-plot-axes {
    stroke: #444444;
    fill: none;
}

.data-plot-grid {
    stroke: #888888;
    fill: none;
}

.data-plot-grid-label-x {
    fill: #444444;
    dominant-baseline: text-before-edge;
    text-anchor: middle;
}

.data-plot-grid-label-y {
    fill: #444444;
    dominant-baseline: middle;
    text-anchor: start;
}

.data-plot-label-lb {
    bottom: 0px;
    left: 2px;
}

.data-plot-label-rt {
    top: 0px;
    right: 2px;
}
