.extree-table {
    width: 100%;
    height: 500px;
    min-height: 100px;
    max-height: 750px;

    overflow: auto;
    resize: vertical;
    border: 1px solid var(--extree-table-border-color);
    background: var(--extree-table-background-color);
}

.extree-table-table {
    font-size: 0.8em;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.extree-table-header {
    position: sticky;
    z-index: 1;
    background: var(--extree-table-header-background-color);
    height: 35px;
}

.extree-table-header:first-child {
    top: 0;
    cursor: pointer;
}

.extree-table-header ~ .extree-table-header {
    top: 35px;
}

.extree-table-row {
    cursor: pointer;
}

.extree-table-row-selected {
    background: var(--extree-table-selected-background-color);
}

.extree-table-cell {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    border-right: 1px solid var(--extree-table-cell-border-color);
    border-bottom: 1px solid var(--extree-table-cell-border-color);
    color: var(--extree-table-cell-color);
    line-height: 1.4em;
    white-space: nowrap;
    min-width: 65px;
}

.extree-table-header .extree-table-cell {
    font-weight: bold;
    border-top: none;
    padding: 2px 5px;
    position: relative;
}

.extree-table-row:last-child .extree-table-cell {
    border-bottom: none;
}

.extree-table-cell:first-child {
    border-left: none;
}

.extree-table-cell:last-child {
    border-right: none;
}

.extree-circle {
    display: inline-block;
    border: 1px solid var(--extree-table-cell-color);
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
}

.extree-table-ascending:after, .extree-table-descending:after {
    position: absolute;
    right: 4px;
    font-size: 1.2em;
}

.extree-table-ascending:after {
    content: "↓";
}

.extree-table-descending:after {
    content: "↑";
}
