.histograms-plot {
    height: 100%;
    width: 100%;
    user-select: none;
    overflow: hidden;
}

.histograms-plot svg {
    width: 100%;
    height: 100%;
}

.histograms-plot-hover {
    cursor: pointer;
}

.histogram-label {
    fill: #222222;
    font-size: 11px;
    writing-mode: tb;
}

.histogram-bin {
    fill: #222222;
    font-size: 10px;
    text-anchor: start;
    writing-mode: tb;
}

.histogram-threshold-label {
    text-anchor: middle;
    font-size: 12px;
}

.histogram-threshold {
    fill: none;
    stroke: #aaaaaa;
    stroke-dasharray: 5 5;
}

.histogram-threshold-hover {
    stroke: #222222;
}

@media (max-width: 767px) {
    .histogram-label {
        font-size: 9px;
    }

    .histogram-bin {
        font-size: 9px;
    }

    .histogram-threshold-label {
        font-size: 10px;
    }
}
