.basic-input {
    width: 100%;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid var(--input-border-color);
    color: var(--input-color);
    padding: 0;
    background: transparent;
    font-size: 0.9rem;
    font-family: Roboto;
}

.basic-input:hover, .basic-input:focus {
    outline: none;
    color: var(--input-hover-color);
    border-color: var(--input-hover-border-color);
}

.basic-input:disabled {
    color: var(--input-disabled-color);
    border-color: var(--input-disabled-color);
}

.inline-input {
    width: min-content;
}

.range-label {
    display: block;
    text-align: center;
    font-size: 0.8em;
}

.basic-button {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    font-size: 0.9em;

    background: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    color: var(--button-color);
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.basic-button:hover {
    background: var(--button-hover-background-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-color);
}

.basic-button[disabled] {
    background: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-color);
    pointer-events: none;
}

.file-input {
    display: none;
}

.file-input-label {
    font-size: 0.8em;
    color: var(--disabled-color);
    text-align: center;
}

.switch-checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 2px;
    font-weight: normal !important;
}

.switch-checkbox input {
    opacity: 0;
    position: absolute;
}

.switch-checkbox-text {
    margin-left: 1.35em;
}

.switch-checkbox-text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.15em;
    width: 1.3em;
    height: 0.85em;
    margin-bottom: -0.1em;
    background: var(--disabled-color);
    border-radius: 0.45em;
    transition: .3s;
}

.switch-checkbox-text:after {
    content: "";
    position: absolute;
    left: 0.1em;
    top: 0.28em;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
    background: var(--background-color);
    transition: .3s;
}

.switch-checkbox input:checked + .switch-checkbox-text:before {
    background: var(--main-color);
}

.switch-checkbox input:checked + .switch-checkbox-text:after {
    left: 0.6em;
}

.vector-input {
    max-width: 260px;
    overflow-x: auto;
}

.vector-input-inputs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(60px, 1fr);
    grid-gap: 5px;
}

.matrix-input {
    max-width: 260px;
    overflow-x: auto;
}

.matrix-input-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(60px, 1fr);
    grid-gap: 5px;
}
