@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --background-color: #ffffff;
    --text-color: #222222;
    --main-color: #2191fb;
    --disabled-color: #aaaaaa;

    /* MENU */
    --menu-border-color: var(--text-color);
    --menu-background-color: var(--background-color);

    --menu-section-border-color: var(--menu-border-color);
    --menu-section-background-color: #f0f0f0;

    --menu-toggle-border-color: var(--menu-border-color);
    --menu-toggle-background-color: #f6f6f6;

    /* TAB */
    --tab-background-color: var(--background-color);
    --tab-border-color: var(--disabled-color);
    --tab-text-color: var(--text-color);
    --tab-active-color: var(--main-color);
    --tab-disabled-color: var(--disabled-color);
    --tab-disabled-background-color: #f0f0f0;

    /* INPUT */
    --input-color: var(--text-color);
    --input-border-color: var(--disabled-color);

    --input-hover-color: var(--text-color);
    --input-hover-border-color: var(--main-color);

    --input-disabled-color: var(--disabled-color);

    /* BUTTON */
    --button-color: var(--text-color);
    --button-border-color: var(--text-color);
    --button-background-color: var(--background-color);

    --button-hover-color: var(--background-color);
    --button-hover-border-color: var(--main-color);
    --button-hover-background-color: var(--main-color);

    --button-disabled-color: var(--disabled-color);
    --button-disabled-border-color: var(--disabled-color);
    --button-disabled-background-color: #f0f0f0;

    /* DATA-TABLE */
    --data-table-background-color: var(--tab-background-color);
    --data-table-border-color: var(--tab-border-color);
    --data-table-label-color: var(--tab-text-color);
    --data-table-selected-label-color: var(--tab-active-color);
    --data-table-selected-label-border-color: var(--tab-active-color);

    --data-table-header-background-color: #eeeeee;

    --data-table-cell-color: var(--text-color);
    --data-table-cell-border-color: #dddddd;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Ubuntu;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.playground {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    display: table;

    color: var(--text-color);
    background: var(--background-color)
}
